.clockText {
    padding-top: 100px;
    text-align: center;
    color:white;
    font-size: 115px;
}

.timeText {
    padding-top: 100px;
    text-align: center;
    color:rgb(230, 87, 87);
    font-size: 115px;
}

.breakText {
    padding-top: 100px;
    text-align: center;
    color:rgb(82, 207, 71);
    font-size: 115px;
}